/* Dark mode button */

.dark-mode-btn {
    display: flex;
    justify-content: space-between;
    width: 53px;
    height: 29px;
    background-color: #272727;
    border-radius: 50px;
    padding: 5px;
    position: relative;
    order: 9;
    /* background-color: #fff;
    border-color: #fff; */
    margin-left: 10px;
}

.dark-mode-btn::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 1px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
    left: 24px;
}

.dark-mode-btn__icon {
    position: relative;
}