.personal-page-main {
    width: 80%;
    margin: 0 auto;
}

.personal-page-collections {
    text-align: center;
}

.personal-page__dropdown {
    margin-top: 10px;
    margin-bottom: 10px;
}

.personal-page__modal {
    color: black;
}